.DS_Store
.cache/
.rspec_status
.sass-cache/
/*.gem
/.bundle
/.ruby-version
/build/
/coverage/
/dist/**/*.md
/dist/**/*.sass
/dist/**/*.scss
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor/bundle/
vital-*.tar.gz
