@import variables

*
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box

html, body
  height: 100%

body
  color: $text
  font: 17px / 1.7 $font
  font-weight: 300
  background: $body
  width: 100%
  &:after
    content: ""
    display: table
    clear: both

// Typography

h1, h2, h3, h4, h5, h6, p, ul, ol
  margin: 1rem 0

h1, h2, h3, h4, h5, h6
  font-weight: 300
  line-height: 1.5

a
  color: $link
  text-decoration: none
  outline: 0
  &:hover
    color: $hover
    transition: $color
  &:focus
    outline: none

blockquote
  margin: 1em 0
  padding: 0 1em
  border-left: 0.4em solid $gray-lighter

strong, b
  font-weight: 500

hr
  border: none
  background: $gray-lighter
  clear: both
  margin: 1.5em auto
  height: $border-width
  &.half
    width: 50%
  &.small
    width: 5em

pre
  white-space: pre-wrap
  word-break: break-all

code
  color: $gray-dark
  font-family: $code
  font-size: 0.65em
  background: $gray-lighter
  padding: 0 0.2em
  margin: 0 0.6em 0 0.2em
  border-radius: $radius
  display: inline-block
  &:before, &:after
    content: '\00a0'
    letter-spacing: -0.2em

dl
  display: table
  width: 100%
dt, dd
  display: table-cell
  vertical-align: top
  float: left
  clear: both
dt
  color: $gray
  font-size: 0.85em
dd
  color: black
  font-weight: 400
  padding-bottom: 0.3em
  &:after
    content: "\00a0"
  i
    margin: 0 1em 0 0

.contents
  background: white
  min-height: 24em

.row
  clear: both
  width: 100%

.section
  padding: 1em
  margin: 0 auto
  width: 90%

@media screen and (min-width: $desktop-large)

  body
    font-size: 1.2em

@media screen and (min-width: $desktop)

  .section
    width: 70%

@media screen and (min-width: $desktop-large)

  .section
    width: 60%

@media screen and (max-width: $phablet)

  .section
    width: 100%
