@import variables

// Custom
// Styles that are very unique to specific pages or intended not to be re-used should go here.

// Demo

.index
  .hero
    h1
      font-size: 5em
      line-height: 1
    .icon-vital
      line-height: 1.4
      font-size: 8em
  .page
    .section.center
      padding: 2em 1em

  .centered-text
    padding: 0 15%

  #simple
    color: #aaa
    img
      width: 4em
      opacity: 0.8
    h1, h2, h3, h4, h5, h6
      color: #fff
    hr
      opacity: 0.1
    .autogrid
      padding: 2em 0

  #light
    img
      padding: 2% 15% 0 15%
    .stats
      h1
        font-size: 4em
        margin: 0
        font-weight: 100
        span
          font-size: 0.5em
          color: #aaa
          &:before
            content: ' '
      hr
        margin: 0 auto

  #open-source
    img
      width: 9em
      margin: 2em 0 0 0
