@import variables

form, .full-width
  *
    width: 100%
    display: block

fieldset
  border-radius: $radius
  border: $border-width solid #f5f5f5
  margin: 1em 0
  legend
    font-weight: 400
    padding: 0 0.25em

input, select, textarea
  border-radius: $radius
  border: $border-width solid #ddd
  font-family: $font
  font-size: inherit
  font-weight: 300
  outline: none
  padding: 0.72em 0.5em
  &:hover, &:focus
    border-color: $hover
    transition: $all
  &:focus
    box-shadow: 0 0 10px $focus

textarea
  padding: 0.5em

select
  -moz-appearance: none
  -webkit-appearance: none
  appearance: none
  background-image: image_url('fonts/input/icon-arrow-updown.svg')
  background-color: white
  background-size: 1em
  background-repeat: no-repeat
  background-position: right
  line-height: 1.1
  padding: 0.77em 0.5em
  padding-right: 1em

input
  &[type='range']
    -moz-appearance: none
    -webkit-appearance: none
    appearance: none
    padding: 0.87em 0.1em
    &:focus
      outline: 0
  &[type='checkbox'], &[type='radio']
    margin: 0
    padding: 0
    width: auto
  &[type='file']
    background-color: $white
    width: 100%
    font-size: 0.7em
    padding: 1.1em 0.5em
  &[type='search']
    box-sizing: border-box !important

input[type='checkbox'], input[type='radio']
  -moz-appearance: none
  -webkit-appearance: none
  appearance: none
  background-color: white
  border: $border-width solid #888
  height: 1em
  margin: 0 0.3em -0.15em 0
  padding: 0
  position: relative
  top: 0
  width: 1em
  overflow: hidden
  &:checked
    background-color: $link
    border-color: $link
  &:disabled
    opacity: 0.3

input[type='checkbox']
  border-radius: $radius
  &:checked
    border: none
    &:before
      bottom: 0
      color: white
      content: "\f100"
      font-family: $icons
      font-size: 1.3em
      left: 0.13em
      line-height: 0
      position: relative
      right: 0
      text-align: center
      top: 0.05em

input[type='radio']
  border-radius: 50em
  &:checked
    &:before
      color: white
      content: ' '
      height: 1em
      overflow: hidden
      position: absolute
      text-align: center
      top: 0
      width: 1em

@-moz-document url-prefix()

  input
    &[type='range']
      border: 0
      margin: 0.6em 0 0 0
    &[type='file']
      padding: 1.05em 0.5em

  select
    padding: 0.65em 0.5em
    &:-moz-focusring
      color: transparent
      text-shadow: 0 0 0 #000
      transition: none
