@import variables

fieldset
  border-radius: $radius
  border: 0.06em solid #f5f5f5
  margin: 1em 0
  legend
    font-weight: 400
    padding: 0 0.25em

input, select, textarea
  border-radius: $radius
  border: 0.06em solid #ddd
  font-family: $font
  font-size: 1.05em
  font-weight: 300
  outline: none
  padding: 0.65em 0.5em
  &:hover, &:focus
    border-color: $hover
    transition: $all
  &:focus
    box-shadow: 0 0 10px $focus

input
  &[type='date'],
  &[type='datetime-local'],
  &[type='time'],
  &[type='week'],
  &[type='month']
    padding: 0.47em 0.5em
  &[type='range']
    -moz-appearance: none
    -webkit-appearance: none
    appearance: none
    background: $white
    border-radius: $radius
    height: auto
    overflow: hidden
    padding: 0
    width: 100%
    height: 2.5em
    &::-webkit-slider-runnable-track
      padding: 0
    &::-webkit-slider-thumb
      -webkit-appearance: none
      background: #aaa
      border-radius: 0.2em
      border: 0
      cursor: pointer
      height: 2.3em
      width: 0.5em
    &:hover, &:focus
      outline: none
      &::-webkit-slider-thumb
        background: $link

  &[type='checkbox'], &[type='radio']
    margin: 0
    padding: 0
  &[type='file']
    background: $white
    width: 100%
    font-size: 0.9em
    padding: 0.7em 0.5em
  &[type='search']
    box-sizing: border-box !important

input[type='checkbox'], input[type='radio']
  -moz-appearance: none
  -webkit-appearance: none
  appearance: none
  background: white
  border: 0.06em solid #888
  height: 1em
  margin: 0 0.3em -0.15em 0
  padding: 0
  position: relative
  top: 0
  width: 1em
  overflow: hidden
  &:checked
    background: $link
    border-color: $link
  &:disabled
    opacity: 0.3

input[type='checkbox']
  border-radius: $radius
  &:checked
    border: none
    &:before
      bottom: 0
      color: white
      content: "\f100"
      font-family: $icons
      font-size: 1.3em
      left: 0.13em
      line-height: 0
      position: relative
      right: 0
      text-align: center
      top: 0.05em

input[type='radio']
  border-radius: 50em
  &:checked
    &:before
      color: white
      content: ' '
      height: 1em
      overflow: hidden
      position: absolute
      text-align: center
      top: 0
      width: 1em

select
  background: white
  height: 2.55em

// Radios & checkboxes
.checkbox, .radio
  display: block
  line-height: 2.2
