@import variables

// Helpers

.auto
  margin: 0 auto
.align-left
  text-align: left
.align-right
  text-align: right
.block
  display: block
.box
  border-radius: $radius
  border: $border-width solid $gray-lightest
  margin: 1em 0
  padding: 1em
.break-all
  word-break: break-all
.checkbox, .radio
  display: block
  line-height: 2.2
.float-left
  float: left
.float-right
  float: right
.no-wrap
  white-space: nowrap
.inline
  display: inline
.inline-block
  display: inline-block
.center
  text-align: center
.clear
  clear: both
.disabled
  color: $gray-light
.radius
  border-radius: $radius
.round
  border-radius: $round
.thin
  font-weight: 100
.uppercase
  text-transform: uppercase
.opacity-half
  opacity: 0.5

// Background colors

.bg
  background: $gray-lightest
.bg-black
  background: $bg-black
.bg-green
  background: $bg-green
.bg-blue
  background: $bg-blue

// Lighten all typography for dark backgrounds

.light-text
  *
    color: white
  a
    color: white
    text-decoration: underline

// Hide / Show

.hide
  display: none

.show
  display: block

// Widths

.full
  width: 100%

// Manually inserting a space into an empty element

.space
  &:after
    content: "\00a0"

// Font sizing

.i2x
  font-size: 2em
.i3x
  font-size: 3em
.i4x
  font-size: 4em
.i5x
  font-size: 5em
.same-width
  text-align: center
  width: 2em
  display: inline-block

@media screen and (max-width: $handheld)

  // Hide / Show

  .space, .hide-on-mobile
    display: none
