// Helpers

.align-left
  text-align: left
.align-right
  text-align: right
.float-left
  float: left
.float-right
  float: right
.disabled
  color: $gray-light
.no-wrap
  white-space: nowrap
.inline
  display: inline
.inline-block
  display: inline-block
.center
  text-align: center
.clear
  clear: both
.block
  display: block
.break
  word-break: break-all
.radius
  border-radius: $radius
.round
  border-radius: $round
.thin
  font-weight: 300
.uppercase
  text-transform: uppercase
.bg
  background: $gray-lightest
.box
  border-radius: $radius
  border: 0.06em solid $gray-lightest
  margin: 1em 0
  padding: 1em

// Hide / Show

.hide
  display: none

.show
  display: block

// Widths

.full
  width: 100%

.full-width-forms
  input, select, textarea, select
    width: 100%
    margin-bottom: 0.75em
  input[type='checkbox']
    width: auto

// Manually inserting a space into an empty element

.space
  &:after
    content: "\00a0"

// Font sizing

.i2x
  font-size: 2em
.i3x
  font-size: 3em
.i4x
  font-size: 4em
.i5x
  font-size: 5em
.same-width
  text-align: center
  width: 2em
  display: inline-block

@media screen and (max-width: $handheld)

  // Hide / Show

  .space, .hide-on-mobile
    display: none
