//
// Icon Font: icons
//

@font-face {
  font-family: "icons";
  src: font-url("fonts/output/icons.eot");
  src: font-url("fonts/output/icons.eot?#iefix") format("embedded-opentype"),
       font-url("fonts/output/icons.woff") format("woff"),
       font-url("fonts/output/icons.ttf") format("truetype"),
       font-url("fonts/output/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icons";
    src: font-url("fonts/output/icons.svg#icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-arrow-updown:before,
.icon-check:before,
.icon-close:before,
.icon-close-empty:before,
.icon-close-outline:before,
.icon-vital:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-arrow-updown:before { content: "\f109"; }
.icon-check:before { content: "\f100"; }
.icon-close:before { content: "\f102"; }
.icon-close-empty:before { content: "\f103"; }
.icon-close-outline:before { content: "\f104"; }
.icon-vital:before { content: "\f101"; }
