@import variables

// tabs
.tabs
  border-bottom: 0.06em solid $bg-tab
  margin-bottom: 1em
  &:after
    content: ""
    display: table
    clear: both
  ul
    list-style: none
    margin: 0
    padding: 0
  li
    float: left
    padding: 0 0.2%
  a, span
    display: block
    line-height: 1
    padding: 1em 2em
    border: none
  a
    color: $gray
    text-decoration: none
    &:hover
      color: white
      background: $bg-tab
      cursor: pointer
      transition: $all

  .here
    a, span
      color: white
      background: $bg-tab
      position: relative
      border-bottom: none
      cursor: default
      text-decoration: none

  // round tabs
  &.round
    margin: 1em 0
    border-bottom: none
    width: 100%
    ul
      display: inline-block
    a
      border-radius: 10em
      &:focus
        background: none
    .here
      a
        bottom: 0
        border: 0.06em solid $bg-tab

  // make all tabs align from center
  &.center
    ul
      text-align: center
    li
      float: none
      display: inline-block

@media screen and (max-width: $handheld)

  .tabs
    li
      width: 100%
      text-align: center
    &.round
      ul
        display: block
