// Fonts
$font:                 "Helvetica Neue", Helvetica, Sans-Serif
$code:                 "Monaco", Menlo, Courier
$icons:                "icons", helvetica, Sans-Serif

// App Colors
$header:               #FFFFFF
$notice:               #FFE0A3
$body:                 #FAFAFA
$page:                 #FFFFFF

// Base Colors
$white:                #FFFFFF
$gray-lightest:        #F9F9F9
$gray-lighter:         #EEEEEE
$gray-light:           #BBBBBB
$gray:                 #666666
$gray-dark:            #333333
$black:                #000000
$red:                  #DC0008
$orange:               #E16E00
$yellow:               #D5B778
$green:                #6BAF56
$blue:                 #5A9FC8

// Background Colors
$bg-hero:              linear-gradient(to bottom right, #CB001D, #A60052)
$bg-gray-lgihter:      $gray-lighter
$bg-transparent:       rgba(0,0,0,0.1)
$bg-tab:               $gray-light

// Hover
$link:                 #DC0008
$hover:                #FF0008
$focus:                rgba(255,0,0,0.2)

// Transitions
$all:                  all 0.2s ease-in-out
$fade-and-hide:        top 0.2s ease-in-out, opacity 0.2s ease-in-out
$color:                color 0.2s ease-in-out
$translate:            translateZ(0)

// Radius
$radius:               0.15em
$round:                100em

// Inputs
$size:                 1em

// Grid
$right-only-padding:   2%

// Breakpoints
$desktop-large:        1680px
$desktop:              1440px
$laptop:               1280px
$tablet:               1080px
$phablet:              860px
$phablet-handheld:     780px
$handheld:             667px
