---
title: Vital
---

.row.hero
  .section.center
    h1 Get Started

.row
  .section
    h1 Setup / Installation
    hr
    h2 Quickest
    p Import into stylesheet or link as a stylesheet tag:
    p
      code link
    h2 Recommended
    p Download or copy the slim files into your project. While this may seem a little unorthadox, Vital was designed to be manipulated directly.

    h3 File Structure
    p
      | [image]
